@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins:wght@200;300;400&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: black !important;
}

::placeholder{
  font-size: 12px;
}

/*---Home---*/
/* .MuiBox-root.css-1t6c9ts{
  margin:auto 520px !important;
} */

button#home-button{
  margin:0px 0px 0px auto;
}

button#contact-button{
  margin:0px auto 0px 0px;
}


.MuiBox-root.css-1t6c9ts{
  padding: 0px 250px 0px 250px;
}
